<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateAluno.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Listagem</ui:define>

	<ui:define name="tituloPagina">Aluno |</ui:define>
	<ui:define name="descricaoPagina">Veja Sua Nota</ui:define>

	<ui:define name="nota" />
	<ui:define name="voltar" />

	<ui:define name="usuarioLogado">
		<span>Ola!</span>
		<h:outputText value="#{loginBean.user.email}"
			style="margin-left:10px;" />
	</ui:define>

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
		<h:dataTable value="#{studentBean.listStudents()}" var="student">
			<h:column>
				<f:facet name="header">
					Alunos
				</f:facet>
				<h:link
					disabled="#{loginBean.user.role.name == 'Student' and loginBean.user.studentProfessorId != student.studentId }"
					value="#{student.name}" outcome="grade-list">
					<f:param name="studentId" value="#{student.studentId}" />
					<f:param name="studentName" value="#{student.name}" />
				</h:link>
			</h:column>
		</h:dataTable>
	</ui:define>

</ui:composition>