<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateAdmin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Listagem</ui:define>

	<ui:define name="tituloPagina">Listagem |</ui:define>
	<ui:define name="descricaoPagina">Servicos</ui:define>

	<ui:define name="cadastro" />
	<ui:define name="pesquisa" />
	<ui:define name="escola" />
	<ui:define name="aluno" />
	<ui:define name="curso" />
	<ui:define name="nota" />
	<ui:define name="professor" />
	<ui:define name="diciplina" />
	<ui:define name="voltar" />

	<ui:define name="usuarioLogado">
		<span>Ola!</span>
		<h:outputText value="#{loginBean.user.email}"
			style="margin-left:10px;" />
	</ui:define>

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">

		<h:panelGroup
			rendered="#{empty gradeBean.gradeByStudentId(param['studentId'])}">
			<h:outputText value="Aluno #{param['studentName']}"
				style="font-weight:bold" />
			<br />
			<br />
			<h:outputText
				value="É necessário cadastrar nota(s) em pelo menos uma disciplina para este aluno" />
		</h:panelGroup>


		<h:panelGroup
			rendered="#{not empty gradeBean.gradeByStudentId(param['studentId'])}">
			<h:outputText value="Notas do aluno #{param['studentName']}"
				style="font-weight:bold" />

			<h:dataTable
				value="#{gradeBean.gradeByStudentId(param['studentId'])}"
				var="grade">
				<h:column>
					<h:outputText value="Disciplina:" style="font-weight:bold" />
					<h:outputText value="&#160;" />
					<h:outputText value="#{grade.discipline.name}" />
					<br />
				</h:column>
				<h:column>
					<h:outputText value="&#160;" />
					<h:outputText value="Primeira nota:" style="font-weight:bold" />
					<h:outputText value="&#160;" />
					<h:outputText value="#{grade.grade1}" />
					<br />
				</h:column>
				<h:column>
					<h:outputText value="&#160;" />
					<h:outputText value="Segunda nota:" style="font-weight:bold" />
					<h:outputText value="&#160;" />
					<h:outputText value="#{grade.grade2}" />
					<br />
				</h:column>
				<h:column>
					<h:outputText value="&#160;" />
					<h:outputText value="Terceira nota:" style="font-weight:bold" />
					<h:outputText value="&#160;" />
					<h:outputText value="#{grade.grade3}" />
					<br />
				</h:column>
				<h:column>
					<h:outputText value="&#160;" />
					<h:outputText value="Status:" style="font-weight:bold" />
					<h:outputText value="&#160;" />
					<h:outputText value="#{grade.status}" />
					<br />
				</h:column>
			</h:dataTable>
		</h:panelGroup>
	</ui:define>

</ui:composition>
