<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateAdmin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Listagem</ui:define>

	<ui:define name="tituloPagina">Listagem |</ui:define>
	<ui:define name="descricaoPagina">Alunos</ui:define>

	<ui:define name="cadastro" />
	<ui:define name="pesquisa" />
	<ui:define name="escola" />
	<ui:define name="aluno" />
	<ui:define name="curso" />
	<ui:define name="nota" />
	<ui:define name="professor" />
	<ui:define name="diciplina" />
	<ui:define name="voltar" />

	<ui:define name="usuarioLogado">
		<span>Ola!</span>
		<h:outputText value="#{loginBean.user.email}"
			style="margin-left:10px;" />
	</ui:define>

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
		<h:dataTable value="#{studentBean.listStudents()}" var="student">
			<h:column>
				<f:facet name="header">
					Alunos
				</f:facet>
				<!-- disabled="#{loginBean.user.role.name == 'Student' and loginBean.user.studentProfessorId != student.studentId }" -->
				<h:link value="#{student.name}" outcome="grade-list">
					<f:param name="studentId" value="#{student.studentId}" />
					<f:param name="studentName" value="#{student.name}" />
				</h:link>
			</h:column>
		</h:dataTable>
	</ui:define>

</ui:composition>