<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateAdmin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Usuario sem Acesso</ui:define>

	<ui:define name="tituloPagina">Universidade JSF |</ui:define>
	<ui:define name="descricaoPagina">Atencao!</ui:define>

	<ui:define name="inicio" />
	<ui:define name="cadastro" />
	<ui:define name="pesquisa" />
	<ui:define name="escola" />
	<ui:define name="curso" />
	<ui:define name="nota" />
	<ui:define name="aluno" />
	<ui:define name="professor" />
	<ui:define name="diciplina" />
	<ui:define name="estudanteProfessor" />
	<ui:define name="estudanteCurso" />
	<ui:define name="professorCurso" />
	<ui:define name="sair" />


	<ui:define name="conteudoDireita">
		<span>Usuario sem acesso!</span>
	</ui:define>

	<ui:define name="conteudoEsquerda">

	</ui:define>

</ui:composition>