* {
	font-family: 'Ubuntu', sans-serif;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

body {
	padding-top: 50px;
}

#userLogado{
	float:right;
	margin-top: -60px;
	margin-right:10px;
	z-index:100;
}

#boxform {
	width: auto;
	height: auto;
	padding: 10px 20px 10px 20px;
	border: 1px solid #eee;
}

section {
	padding-bottom: 20px;
	min-height: 80vh;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: gray;
}

.insetText {
	font-weight: 700px;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

.navbar-brand {
	font-weight: 700px;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("#{resource['fonts/glyphicons-halflings-regular.eot']}");
	src: url("#{resource['fonts/glyphicons-halflings-regular.eot']}?#iefix")
		format('embedded-opentype'),
		url("#{resource['fonts/glyphicons-halflings-regular.woff']}")
		format('woff'),
		url("#{resource['fonts/glyphicons-halflings-regular.ttf']}")
		format('truetype'),
		url("#{resource['fonts/glyphicons-halflings-regular.svg']}#glyphicons-halflingsregular")
		format('svg')
}